*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    position: relative;
    display: inline-block;
    text-align: left;
}

#fondoHeader{
    width: 100%;
    height: auto;
    filter: brightness(35%);
}

#smallBuho{
    display: none;
}

.nav-bar{
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    left: 30px;
}

.nav-bar img{
    width: 50px;
}

.enlaces{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

}

.enlaces a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding-bottom: 6px;
}
.enlaces a:hover{
    border-bottom: 4px solid white;
}
.newEnlaces{
    display: none;
}


.headerTexto{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 50%;
}

.header h1{
    color: white;
    font-size: 110px;
}

.header span{
    color: white;
    border-bottom: 5px solid rgb(52 88 191);
}

.header p span{
    font-weight: bold;
    border: none;
}

#info{
    margin-top: 30px;
}

.header p{

    color: white;
    font-size: 20px;
}

.header button{
    padding: 14px;
    background-color: rgb(52 88 191);
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.header button:hover{

    background-color: rgb(25 44 98);
    transition: .4s;
}

/* INFORMACION PERSONAL */
.wrapped{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.personalInfo{
    padding: 150px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #273b49;
}

.info{
    width: 45%;
    padding: 0px 70px;
}

.personalInfo img{
    width: 430px;
    border-radius: 100%;
}

body h2{
    width: auto;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: 'Radio Canada', sans-serif;
}

body span{
    color: rgb(52 88 191);
}

body p{
    color:#687782 ;
    font-family: 'Ubuntu', sans-serif;
    line-height: 25px;
}

/* ACTIVIDADES ACTUALES */

.currentActivities{
    padding: 150px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #273b49;
    background-color: #f4f4f4;
}

.img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img hr{
    width: 100%;
    border: none;
    height: 1.7px;
    background-color: #b8b8b8;
}

.currentActivities .info{
    text-align: left;
}

.currentActivities img{
    width: 500px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.currentActivities .wrapped{
    flex-wrap: wrap-reverse;
}

/* ------------------- TARJETAS ------------------- */

.tarjetas{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tarjeta:hover{
    transition: .4s;
    transform: scale(1.1, 1.1);
}

.tarjeta{
    width: 300px;
    background: linear-gradient(rgb(0 0 0 / 65%), rgb(0 0 0 / 54%)),url(../images/certifies.webp) -144px -92px;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    border: 4px solid #bfbfbf;
}

.tarjeta hr{
    margin-bottom: 10px;
    color: white;
}

.tarjetas a{
    text-decoration: none;
    border: none;
}

.tarjeta h3{
    font-size: 30px;
}

.tarjeta p,h3{
    color: white;
}

/* ------------------- SOCIAL MEDIA ------------------- */

.socialMedia{
    padding: 150px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #273b49;
    background: linear-gradient(318deg,#3559bf,#002347);
}

.socialMedia .wrapped{
    gap: 50px;
}

.socialMedia .tarjeta{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    transform: none;
    height: 400px;
}

.socialMedia .tarjeta img{
    width: 30%;
    margin-bottom: 20px;
}

.socialMedia .tarjeta h3{
    color: #273b49;
    font-family: 'Radio Canada', sans-serif;
}

.socialMedia .tarjeta hr{
    width: 100%;
    border: 1px solid #d1d1d1;
}

.socialMedia .tarjeta p{
    color: #687782;
}

.socialMedia .tarjeta button{
    padding: 10px;
    width: 100px;
    background: none;
    border: 1px solid rgb(42 197 118);
    border-radius: 10px;
    color: #273b49;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    position: relative;
    bottom: -75px;
}

.socialMedia .tarjeta button:hover{
    transition: .4s;
    color: white;
    background: rgb(42 197 118);
}

.socialMedia h2{
    color: white;
    margin: 0;
}
.socialMedia span{
    color: #2bc577;
}

.socialMedia .tarjeta span{
    color: #017bb9;
}

/* FOOTER */

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    gap: 10px;
}

.footer hr{
    width: 70%;
    border: none;
    height: 1px;
    background-color: #d3d3d3;
}

/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }


/* Correo */

#correo{
    transform: rotate(-90deg);
    position: fixed;
    left: -100px;
    bottom: 110px;
    text-align: left;
    color:#b7b7b7;
    font-size: 12px;
}

#correo:hover{
    background-color: rgb(52 88 191);
    color: white;
    transition: .5s;
    padding: 0px 10px;
}

/* Subir */

#subir{
    position: fixed;
    right: 15px;
    bottom: 30px;
    text-align: right;
    color: #787878;
}

#subir:hover{
    transition: .5s;
    transform: scale(1.2,1.2);
}

#subir img{
    width: 35px;
}

/* DECORACIONES */
#decoration1{
    width: 104px;
    transform: rotate(343deg);
    position: relative;
    right: -741px;
    top: -91px;
}

#decoration1:hover{
    transition: 3s;
    transform: rotate(-17deg);
}

#decoration2{
    width: 83px;
    position: relative;
    right: -720px;
    top: -186px;
}


